[project]
	description = introducing gerrit for code review work flow.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rushabh-nurealtor
[access "refs/for/refs/*"]
	read = group user/rushabh-nurealtor
	push = group user/rushabh-nurealtor
	label-Code-Review = -2..+2 group user/rushabh-nurealtor
	label-Verified = -1..+1 group user/rushabh-nurealtor
	rebase = group user/rushabh-nurealtor
	removeReviewer = group user/rushabh-nurealtor
	submit = group user/rushabh-nurealtor
[access "refs/heads/*"]
	read = group user/rushabh-nurealtor
	create = group user/rushabh-nurealtor
	push = +force group user/rushabh-nurealtor
	pushMerge = group user/rushabh-nurealtor
[access "refs/tags/*"]
	push = +force group user/rushabh-nurealtor
	pushTag = group user/rushabh-nurealtor
	pushSignedTag = group user/rushabh-nurealtor
